@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  /* 모바일 최대 크기 */
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}
